<head>

  <meta charset="utf-8">

  <title>Authorization</title>
  <meta name="description" content="Authorization">
  <meta name="author" content="Company">

  <link rel="stylesheet" type="text/css" href="/public/css/main.css">

</head>
<body>

  <div id="top-spacer"></div>

  <div id="content-wrapper">
    <img src="/public/images/fingerprint.svg" alt="Fingerprint" id="fingerprint" />
    <h1>Consent Provider</h1>

    <form action="/authorize?challenge={{ .challenge }}" method="post">
      {{ .csrfField }}

      {{ range $key, $scope := .requested_scopes }}
        <input type="checkbox" id="consent_{{ $key }}" name="consents[]" value="{{ $scope.name }}">
        <label for="consent_{{ $key }}">{{ $scope.name }}</label>
      {{ end }}

      <input type="submit" name="accept" value="Accept" />
      <input type="submit" name="cancel" value="Cancel" />
    </form>

  </div>

  <script type="text/javascript"></script>
</body>
