<head>

  <meta charset="utf-8">

  <title>Authorization</title>
  <meta name="description" content="Authorization">
  <meta name="author" content="Company">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">

</head>
<body>

  <div id="top-spacer"></div>

  <div id="content-wrapper">
    <img src="/public/images/fingerprint.svg" alt="Fingerprint" id="fingerprint" />
    <h1>Consent Provider</h1>

    <div style="clear:both;"></div>
    <p>Dear {{ .name }}</p>
    <p>The application {{ .client_id }} is requesting access to resources of yours. Please grant or deny them as you see fit.</p>

    {{if .requested_audiences }}
      <p>Using the following audiences</p>
      <ul>
      {{ range $key, $requested_audience := .requested_audiences }}
        <li>{{ $requested_audience.aud }}</li>
      {{ end }}
      </ul>
    {{end}}

    <div class="error">{{ .error }}</div>

    <form action="/authorize?consent_challenge={{ .consent_challenge }}" method="post">
      {{ .csrfField }}

      {{if .requested_scopes }}
        <input type="checkbox" id="consent_all">
        <label for="consent_all">Accept all</label>

        {{ range $key, $scope := .requested_scopes }}
          <input type="checkbox" id="consent_requested_{{ $key }}" name="consents[]" value="{{ $scope.name }}">
          <label for="consent_requested_{{ $key }}">{{ $scope.name }}</label>
        {{ end }}
      {{ end }}

      {{if .granted_scopes }}
        <p>You have previously granted</p>
        {{ range $key, $scope := .granted_scopes }}
          <input type="checkbox" id="consent_granted_{{ $key }}" name="consents[]" value="{{ $scope.name }}" checked="checked">
          <label for="consent_granted_{{ $key }}">{{ $scope.name }}</label>
        {{ end }}
      {{end}}

      <input type="submit" name="accept" value="Accept" />
      <input type="submit" name="cancel" value="Cancel" />
    </form>

  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#consent_all").click(function(){
        $("input[id^=consent_requested_]").prop('checked', this.checked);
      });
    });
  </script>
</body>
