{{ template "htmlbegin" . }}

{{ template "dashboard_start" . }}

  <form class="ui form" method="post", action="/access/grant">
    {{ .csrfField }}

    <div class="field">
      <label>Resource server</label>
      <div class="ui selection dropdown">
        <input type="hidden" name="gender">
        <i class="dropdown icon"></i>
        <div class="default text">Resource server</div>
        <div class="menu">
          {{ range $key, $rs := .resourceservers }}
            <div class="item" data-value="{{ $rs.Id }}">{{ $rs.Name }}</div>
          {{ end }}
        </div>
      </div>
    </div>

    <div class="ui pointing secondary menu">
      <a class="item active" data-tab="g">Grant</a>
      <a class="item" data-tab="mg">May grant</a>
      <a class="item" data-tab="0mg">Root grant</a>
    </div>
    <div class="ui tab segment active" data-tab="first">

    {{ if .scopes }}
      {{ range $key, $scope := .scopes }}
      <div class="inline fields">
        <div class="field">
          <label>Scope</label>
          <a class="ui blue label" style="margin-top:5px">{{ $scope.Scope }}</a>
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>Enable</label>
          <div class="ui toggle checkbox">
            <input type="checkbox" name="enable" tabindex="0">
          </div>
        </div>
        <div class="field">
          <label>Start date</label>
          <input type="date" name="date_start" placeholder="From">
        </div>
        <div class="field">
          <label>End date</label>
          <input type="date" name="date_end" placeholder="To">
        </div>
      </div>
      <div class="ui divider"></div>
      {{ end }}
    {{ end }}

  </form>

  {{if .errors }}
    {{ range $key, $error := .errors }}
    <p>{{ $error.Error }}</p>
    {{ end }}
  {{ end }}

{{ template "dashboard_end" . }}

<script type="text/javascript">
  $(function(){

    $('.selection.dropdown').dropdown();
    $('.ui.checkbox').checkbox();
    $('.menu .item').tab();

    $("button.save").on('click', function(){
      let form = $(this).closest("form");

      var formData = JSON.stringify(form.serialize());
      console.log(formData);
      return false;
    });

    $("input[name=date_start]").each(function(i,e) {
      let isoDate = new Date().toISOString().substring(0,10)
      $(e).val(isoDate);
      $(e).prop("min", isoDate);
    });

    $("input[name=enable]").each(function(i,e) {
      toggleDatepickers($(this));
    });

    $("input[name=enable]").on('change', function(){
      toggleDatepickers($(this));
    });

    function toggleDatepickers(e) {
     if ( e.is(":checked") ) {
        e.closest(".fields").find("input[type=date]").prop("disabled", false);
        return;
      }

      e.closest(".fields").find("input[type=date]").prop("disabled", true);
    }
  });
</script>

{{ template "htmlend" . }}
