{{ template "htmlbegin" . }}

<div class="grid-container">

  {{ template "header" . }}

  {{ template "sidenav" . }}

  <main class="main">
    <div class="main__header">
      <div class="main-header__heading">Hello User</div>
      <div class="main-header__updates">Recent Items</div>
    </div>

    <div class="main__cards">
        <h1>{{ .title }}</h1>

        <div class="ui segments">
          <div class="ui segment">

            <form>

              <table class="ui compact celled table">
                <thead>
                  <tr>
                    <th>Scope</th>
                    <th>Connected to</th>
                    <th>Enable</th>
                    <th>Allow from</th>
                    <th>Allow to</th>
                  </tr>
                </thead>
                <tbody>

                  {{ range $key, $scope := .scopes }}
                  <tr>
                    <td><a class="ui blue label" href="#">{{ $scope.Scope }}</a></td>
                    <td><a class="ui blue label">?</a></td>
                    <td class="collapsing">
                      <div class="ui fitted slider checkbox">
                        <input type="checkbox" name="enable"> <label></label>
                      </div>
                    </td>
                    <td class="collapsing">
                      <div class="ui calendar">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="date" disabled placeholder="Start date" name="date_start" required>
                        </div>
                      </div>
                    </td>
                    <td class="collapsing">
                      <div class="ui calendar">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="date" disabled placeholder="End (Leave blank for infinite)" name="date_end" onload="">
                        </div>
                      </div>
                    </td>
                  </tr>
                  {{ end }}

                </tbody>
                <tfoot class="full-width">
                  <tr>
                    <th colspan="5">
                      <button onclick="return confirm('Are you sure about that?')" class="ui right floated small red labeled icon button">
                        <i class="save icon"></i> Save
                      </button>
                    </th>
                  </tr>
                </tfoot>
              </table>

            </form>

            {{if .errors }}
              {{ range $key, $error := .errors }}
              <p>{{ $error.Error }}</p>
              {{ end }}
            {{ end }}

          </div>
        </div>

    </div>
  </main>

  {{ template "footer" . }}
</div>

<script type="text/javascript">
  $(function(){
    $("input[name=date_start]").each(function(i,e) {
      let isoDate = new Date().toISOString().substring(0,10)
      $(e).val(isoDate);
      $(e).prop("min", isoDate);
    });
/*
    var today = new Date();
    $('.ui.calendar').calendar({
      type: 'datetime',
      ampm: false,
      minDate: new Date(today.getFullYear(), today.getMonth(), today.getDate()),
      initialDate: new Date(today.getFullYear(), today.getMonth(), today.getDate())
    });
*/

    $("input[name=enable]").on('click', function(){
      toggleDatepickers($(this));
    });

    function toggleDatepickers(e) {
     if ( e.is(":checked") ) {
        e.closest("tr").find("input[type=date]").prop("disabled", false);
        return;
      }

      e.closest("tr").find("input[type=date]").prop("disabled", true);
    }
  });
</script>

{{ template "htmlend" . }}
