{{ define "htmlbegin" }}
<html>
<head>

  <meta charset="utf-8">

  <title>{{ .title }}</title>
  <meta name="description" content="{{ .title }}">
  <meta name="author" content="CharMixer">

  <!-- load all styles -->
  <!--<link rel="stylesheet" type="text/css" href="/public/lib/semanticui/semantic.min.css"> -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  {{ range $value := .links }}
    <link rel="{{ or $value.rel "stylesheet" }}" type="{{ or $value.type "text/css" }}" href="{{ $value.href }}">
  {{ end }}

  <!-- load all scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.js"></script>
  <!-- <script src="/public/lib/semanticui/semantic.min.js"></script>-->
  {{ range $value := .scripts }}
    <script type="{{ or $value.type "text/javascript" }}" src="{{ $value.src }}"></script>
  {{ end }}

</head>
<body class="minimal pushable">
{{ end }}

{{ define "toc" }}
<div class="item blue active">
  <a class="ui logo icon image" href="/">
    <img class="ui mini image" src="/public/images/fingerprint.svg">
  </a>
  <a href="/" style="padding-left:10px"><b>IDP & AAP</b></a>
</div>

<div class="item" style="margin-top:30px">
  <b>Identity</b>
</div>

<a class="item" href="{{.idpUiUrl}}/me">
  <i class="user icon"></i>
  Profile
</a>
<a class="item" href="{{.idpUiUrl}}/invites">
  <i class="paper plane icon"></i>
  Invites
</a>
<a class="item" href="{{.idpUiUrl}}/follows">
  <i class="user friends icon"></i>
  Follows
</a>

<div class="item" style="margin-top:30px">
  <b>Access & Authorization</b>
</div>

<a class="item" href="{{.aapUiUrl}}/access/grant">
  <i class="unlock icon"></i>
  Grants
</a>

<a class="item" href="{{.aapUiUrl}}/access">
  <i class="book icon"></i>
  Consents
</a>

<a class="item" style="margin-top:40px" href="{{.idpUiUrl}}/logout">
  <i class="sign out icon"></i>
  Sign out
</a>

{{ end }}

{{ define "dashboard_start" }}
<style>

#main {
  display:flex;
}

#toc-desktop {
  display:none;
  flex: 0 0 auto;
}

#content {
  flex: 1 1 auto;
}

#content {
  margin-top: 50px;
}

/* Non-mobile styles for side nav responsiveness, 750px breakpoint */
@media only screen and (min-width: 720px) {
  #topbar {
    display:none;
  }
  #content {
    margin-top: 0;
    margin-left: 270px;
  }
  #toc-desktop {
    display:flex;
  }
}

</style>

<script>
$(function(){
  $("#toggle-toc").click(function(){
    $("#toc-mobile").sidebar('toggle');
  });
})
</script>

  <div id="toc-mobile" class="ui vertical inverted sidebar menu left">
    {{ template "toc" . }}
  </div>

  <div id="topbar" class="ui fixed inverted main menu">
    <a id="toggle-toc" class="launch icon item">
      <i class="content icon"></i>
    </a>
    <div class="right menu">
      <a class="item">Logout</a>
    </div>
  </div>

  <div id="main" class="pusher">
    <div id="toc-desktop" class="ui vertical inverted sidebar menu left visible">
      {{ template "toc" . }}
    </div>
    <div id="content" class="ui basic segment">
      <h1 class="ui header">{{ .title }}</h1>
{{ end }}

{{ define "dashboard_end" }}
      {{ template "footer" . }}
    </div>
  </div>
{{ end }}

{{ define "footer" }}
<footer class="footer">
  <div class="footer__copyright">&copy; 2019</div>
  <div class="footer__signature">Made with love by pure genius</div>
</footer>
{{ end }}

{{ define "htmlend" }}
  </body>
</html>
{{ end }}
